defaults
    maxconn 20000
    mode    tcp
    option  dontlognull
    timeout http-request 10s
    timeout queue        1m
    timeout connect      10s
    timeout client       86400s
    timeout server       86400s
    timeout tunnel       86400s
frontend k8s-api
    bind  :::6443 v4v6
    mode  tcp
    default_backend k8s-api
backend k8s-api
    option  httpchk GET /readyz HTTP/1.0
    option  log-health-checks
    http-check expect status 200
    mode tcp
    balance roundrobin
    default-server verify none check-ssl inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 5000 maxqueue 5000 weight 100
    {% for server in groups['control_plane'] %}
    server app{{ loop.index }}  {{hostvars[server]['inner_ip']}}:6443 check
    {% endfor %}
frontend http
    bind  :::8080 v4v6
    mode  tcp
    default_backend http
backend http
    option  httpchk GET /healthz HTTP/1.0
    option  log-health-checks
    http-check expect status 200
    mode tcp
    balance roundrobin
    default-server verify none inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 5000 maxqueue 5000 weight 100
    {% for server in groups['control_plane'] %}
    server http{{ loop.index }}  {{hostvars[server]['inner_ip']}}:32000 check
    {% endfor %}
###
